!#======================================================================
!# Colors
!#======================================================================

*.foreground:  #d6dbe5
*.background:  #131313
*.cursorColor: #b9b9b9

! Black
*.color0:      #1f1f1f
*.color8:      #d6dbe5
! Red
*.color1:      #f81118
*.color9:      #de352e
! Green
*.color2:      #2dc55e
*.color10:     #1dd361
! Yellow
*.color3:      #ecba0f
*.color11:     #f3bd09
! Blue
*.color4:      #2a84d2
*.color12:     #1081d6
! Magenta
*.color5:      #4e5ab7
*.color13:     #5350b9
! Cyan
*.color6:      #1081d6
*.color14:     #0f7ddb
! White
*.color7:      #d6dbe5
*.color15:     #ffffff
! Bold, Italic, Underline
*.colorBD:     #d6dbe5

!#======================================================================
!# Global
!#======================================================================

*.font: xft:Fira Code:size=10:antialias=true

!#======================================================================
!# (U)Xterm
!#======================================================================

XTerm.vt100.faceName: Fira Code:size=11:antialias=true
XTerm.vt100.selectToClipboard: true
XTerm.VT100.translations: #override \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

!#======================================================================
!# Xft
!#======================================================================

Xft.dpi:                92
Xft.antialias:          True
Xft.hinting:            True
Xft.rgba:               rgb
Xft.autohint:           False
Xft.hintstyle:          hintslight
Xft.lcdfilter:          lcddefault
